.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    font-size:25px;
  }


.base64{
  &-down{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMy4wMTgiIGhlaWdodD0iMTguMjA2IiB2aWV3Qm94PSIwIDAgMzMuMDE4IDE4LjIwNiI+PHBhdGggZD0iTTI5LjUzOCw4LjYxNSwxNS41NDcsMjMuMzQyLDAsOC42MTUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEuNzQgLTYuODc1KSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIiBzdHJva2Utd2lkdGg9IjIuNDYxIi8+PC9zdmc+");
    background-position: center;
    background-size:15px;
    background-repeat:no-repeat;
  }
  &-next{
    background-image: url("data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgMzIgMzIiPgo8dGl0bGU+bmV4dDwvdGl0bGU+CjxwYXRoIGZpbGw9IiM0YTRhNGEiIGQ9Ik0xOS4xMiAxNC4xMTRsLTExLjcwOC0xMS43MDRjLTAuMjU2LTAuMjU1LTAuNDE0LTAuNjA4LTAuNDE0LTAuOTk4IDAtMC43NzkgMC42MzItMS40MTEgMS40MTEtMS40MTEgMC4zODkgMCAwLjc0MiAwLjE1OCAwLjk5NyAwLjQxM2wxNC4xMTQgMTQuMTFjMC4wNDYgMC4wNDQgMC4wNjQgMC4xMDIgMC4xIDAuMTUyIDAuMDc4IDAuMDk4IDAuMTU4IDAuMTkgMC4yMDQgMC4zMDYgMC4wNjkgMC4xNTkgMC4xMSAwLjM0NSAwLjExIDAuNTR2MGMtMC4wMTAgMC4xOTYtMC4wNDggMC4zNzktMC4xMTIgMC41NTFsMC4wMDQtMC4wMTNjLTAuMDc2IDAuMTgzLTAuMTgzIDAuMzQtMC4zMTYgMC40N2wtMTQuMSAxNC4xMDRjLTAuMjU1IDAuMjU1LTAuNjA4IDAuNDEzLTAuOTk4IDAuNDEzLTAuNzc5IDAtMS40MTEtMC42MzItMS40MTEtMS40MTEgMC0wLjM5IDAuMTU4LTAuNzQzIDAuNDEzLTAuOTk4djBsMTEuNy0xMS43MDJzMC44Mi0wLjcwOCAwLjgyLTEuNDEyLTAuODE2LTEuNDEtMC44MTYtMS40MXoiPjwvcGF0aD4KPC9zdmc+Cg==");
  }
  &-prev{
    background-image: url("data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgMzIgMzIiPgo8dGl0bGU+cHJldjwvdGl0bGU+CjxwYXRoIGZpbGw9IiM0YTRhNGEiIGQ9Ik0xMS44MTQgMTQuMTE0bDExLjcwNi0xMS43MDRjMC4yNTUtMC4yNTUgMC40MTMtMC42MDggMC40MTMtMC45OTggMC0wLjc3OS0wLjYzMi0xLjQxMS0xLjQxMS0xLjQxMS0wLjM5IDAtMC43NDMgMC4xNTgtMC45OTggMC40MTNsLTE0LjExIDE0LjExYy0wLjA0NiAwLjA0NC0wLjA2NCAwLjEwMi0wLjEgMC4xNTItMC4wNzggMC4wOTgtMC4xNTggMC4xOS0wLjIwNCAwLjMwNi0wLjA2OSAwLjE1OS0wLjExIDAuMzQ0LTAuMTEgMC41Mzh2MGMwLjAxMCAwLjE5NiAwLjA0OCAwLjM3OSAwLjExMiAwLjU1MWwtMC4wMDQtMC4wMTNjMC4wNzIgMC4xNzggMC4xOCAwLjMzNiAwLjMxNCAwLjQ3bDE0LjEwMiAxNC4xMDRjMC4yNTUgMC4yNTUgMC42MDggMC40MTMgMC45OTggMC40MTMgMC43NzkgMCAxLjQxMS0wLjYzMiAxLjQxMS0xLjQxMSAwLTAuMzktMC4xNTgtMC43NDMtMC40MTMtMC45OThsLTExLjctMTEuN3MtMC44Mi0wLjcwOC0wLjgyLTEuNDEyIDAuODE0LTEuNDEgMC44MTQtMS40MXoiPjwvcGF0aD4KPC9zdmc+Cg==");
  }
}