<div class="halfCell">
    <div class="form-row placeholder">
        <div class="textline">Şehir</div>
        <div class="selector">
            <select name="city" id="city" title="Lütfen Şehir Seçiniz.">
                <option value="" selected="" disabled="" hidden="">Lütfen Şehir Seçiniz</option>
                <option value="27210">Adana</option>
                <option value="27212">Adıyaman</option>
                <option value="27213">Afyonkarahisar</option>
                <option value="27290">Ağrı</option>
                <option value="27214">Aksaray</option>
                <option value="27215">Amasya</option>
                <option value="27216">Ankara</option>
                <option value="27218">Antalya</option>
                <option value="27219">Ardahan</option>
                <option value="27220">Artvin</option>
                <option value="27221">Aydın</option>
                <option value="27222">Balıkesir</option>
                <option value="27223">Bartın</option>
                <option value="27224">Batman</option>
                <option value="27225">Bayburt</option>
                <option value="27226">Bilecik</option>
                <option value="27227">Bingöl</option>
                <option value="27228">Bitlis</option>
                <option value="27229">Bolu</option>
                <option value="27230">Burdur</option>
                <option value="27231">Bursa</option>
                <option value="27232">Çanakkale</option>
                <option value="27233">Çankırı</option>
                <option value="27234">Çorum</option>
                <option value="27235">Denizli</option>
                <option value="27236">Diyarbakır</option>
                <option value="27237">Düzce</option>
                <option value="27238">Edirne</option>
                <option value="27239">Elazığ</option>
                <option value="27240">Erzincan</option>
                <option value="27241">Erzurum</option>
                <option value="27242">Eskişehir</option>
                <option value="27243">Gaziantep</option>
                <option value="27244">Giresun</option>
                <option value="27245">Gümüşhane</option>
                <option value="27246">Hakkari</option>
                <option value="27217">Hatay</option>
                <option value="27247">Iğdır</option>
                <option value="27248">Isparta</option>
                <option value="27249" selected="selected">İstanbul</option>
                <option value="27250">İzmir</option>
                <option value="27252">Kahramanmaraş</option>
                <option value="27253">Karabük</option>
                <option value="27254">Karaman</option>
                <option value="27255">Kars</option>
                <option value="27256">Kastamonu</option>
                <option value="27257">Kayseri</option>
                <option value="27259">Kırıkkale</option>
                <option value="27260">Kırklareli</option>
                <option value="27261">Kırşehir</option>
                <option value="27258">Kilis</option>
                <option value="27251">Kocaeli</option>
                <option value="27262">Konya</option>
                <option value="27263">Kütahya</option>
                <option value="27264">Malatya</option>
                <option value="27265">Manisa</option>
                <option value="27266">Mardin</option>
                <option value="27267">Mersin</option>
                <option value="27268">Muğla</option>
                <option value="27269">Muş</option>
                <option value="27270">Nevşehir</option>
                <option value="27271">Niğde</option>
                <option value="27272">Ordu</option>
                <option value="27273">Osmaniye</option>
                <option value="27274">Rize</option>
                <option value="27211">Sakarya</option>
                <option value="27275">Samsun</option>
                <option value="27276">Siirt</option>
                <option value="27277">Sinop</option>
                <option value="27279">Sivas</option>
                <option value="27284">Şanlıurfa</option>
                <option value="27278">Şırnak</option>
                <option value="27280">Tekirdağ</option>
                <option value="27281">Tokat</option>
                <option value="27282">Trabzon</option>
                <option value="27283">Tunceli</option>
                <option value="27285">Uşak</option>
                <option value="27286">Van</option>
                <option value="27287">Yalova</option>
                <option value="27288">Yozgat</option>
                <option value="27289">Zonguldak</option>
            </select>
        </div>
    </div>
</div>

<div class="halfCell pull-right">
    <div class="form-row placeholder">
        <div class="textline">İlçe</div>
        <div class="selector">
            <select name="district" id="district" title="Lütfen İlçe Seçiniz.">
                <option value="" selected="" disabled="" hidden="">Lütfen İlçe Seçiniz</option>
                <option value="3395">Adalar</option>
                <option value="3432">Arnavutköy</option>
                <option value="3427">Ataşehir</option>
                <option value="3396">Avcılar</option>
                <option value="3397">Bağcılar</option>
                <option value="3398">Bahçelievler</option>
                <option value="3399">Bakırköy</option>
                <option value="3431">Başakşehir</option>
                <option value="3400">Bayrampaşa</option>
                <option value="3401">Beşiktaş</option>
                <option value="3402">Beykoz</option>
                <option value="3428">Beylikdüzü</option>
                <option value="3403">Beyoğlu</option>
                <option value="3404">Büyükçekmece</option>
                <option value="3405">Çatalca</option>
                <option value="3433">Çekmeköy</option>
                <option value="3406">Esenler</option>
                <option value="3407">Esenyurt</option>
                <option value="3408">Eyüp</option>
                <option value="3409">Fatih</option>
                <option value="3410">Gaziosmanpaşa</option>
                <option value="3411">Güngören</option>
                <option value="3412">Kadıköy</option>
                <option value="3413">Kağıthane</option>
                <option value="3414">Kartal</option>
                <option value="3415">Küçükçekmece</option>
                <option value="3416">Maltepe</option>
                <option value="3417">Pendik</option>
                <option value="3430">Sancaktepe</option>
                <option value="3418">Sarıyer</option>
                <option value="3419">Silivri</option>
                <option value="3420">Sultanbeyli</option>
                <option value="3429">Sultangazi</option>
                <option value="3421">Şile</option>
                <option value="3422">Şişli</option>
                <option value="3423">Tuzla</option>
                <option value="3424">Ümraniye</option>
                <option value="3425">Üsküdar</option>
                <option value="3426">Zeytinburnu</option>
            </select>
        </div>
    </div>
</div>
