<div class="content-page-left">
    <div class="d-lg-none content-page-menu-mobile-title dr-flex-between">
        <a href="#"> </a>
        <svg class="icon icon-dropdown-down-icon"><use xlink:href="#icon-dropdown-down-icon"></use></svg>
    </div>
    <ul class="nav d-lg-block d-none content-page-menu dr-flex">
        <li class="active">
            <a class="dr-flex-between" href="about-us.html">
                <span>Hakkımızda</span>
                <svg class="icon icon-text-link-arrow"><use xlink:href="#icon-text-link-arrow"></use></svg>
            </a>
        </li>
        <li>
            <a class="dr-flex-between" href="stores.html">
                <span>Mağazalarımız</span>
                <svg class="icon icon-text-link-arrow"><use xlink:href="#icon-text-link-arrow"></use></svg>
            </a>
        </li>
        <li>
            <a class="dr-flex-between" href="contact.html">
                <span>İletişim</span>
                <svg class="icon icon-text-link-arrow"><use xlink:href="#icon-text-link-arrow"></use></svg>
            </a>
        </li>
    </ul>
</div>