<div class="form-row placeholder">
    <div class="textline" id="nameLabel">Adı Soyadı</div>
    <input type="text" id="name" name="name" value="Kerem Yıldız" data-rule="onlyLetter" placeholder="Lütfen Ad Soyadı Giriniz." class="textbox" data-msg-required="Lütfen Ad Soyadı Giriniz">
</div>
<div class="form-row placeholder">
    <div class="textline">Adres Başlığı</div>
    <div class="selector">
        <select name="address" id="topic" title="Lütfen Adres Başlığı Seçiniz." required="">
            <option value="0" selected="" disabled="" hidden="">Lütfen Adres Başlığı Seçiniz</option>
                <option value="Ev">Ev</option>
                <option value="İşyeri">İşyeri</option>
                <option value="Yazlık">Yazlık</option>
            <option value="Diger">Diğer</option>
        </select>
    </div>
</div>