<div class="orders-footer mt-10">
    <ul class="nav dr-flex pagination">
        <li class="pagination-prev">
            <a href="#">
                <svg class="icon icon-prev"><use xlink:href="#icon-prev"></use></svg>
            </a>
        </li>
        <li>
            <a href="#"> 1 </a>
        </li>
        <li class="active">
            <a href="#"> 2 </a>
        </li>
        <li>
            <a href="#"> 3 </a>
        </li>
        <li class="pagination-spacer">
            <a href="#"> ... </a>
        </li>
        <li>
            <a href="#"> 30 </a>
        </li>
        <li class="pagination-next"> 
            <a href="#">
                <svg class="icon icon-next"><use xlink:href="#icon-next"></use></svg>
            </a>
        </li>
    </ul>
</div>