<div class="prd p-15 position-relative">
    <div class="product-img mb-15">
        <a href="product-detail.html">
            <img class="lazyload" data-src="https://i.idefix.com/cache/150x242-0/originals/0001887540001-1.jpg" alt="">
        </a>
    </div>
    <a href="#prd-rate" class="prd-rate mb-10">
        <svg class="icon icon-star-active"><use xlink:href="#icon-star-active"></use></svg>
        <svg class="icon icon-star-active"><use xlink:href="#icon-star-active"></use></svg>
        <svg class="icon icon-star-active"><use xlink:href="#icon-star-active"></use></svg>
        <svg class="icon icon-star-active"><use xlink:href="#icon-star-active"></use></svg>
        <svg class="icon icon-star-half"><use xlink:href="#icon-star-half"></use></svg>
    </a>
    <div class="prd-badge">
        <span class="d-block bg-c1 text-c255 ">Kargo Bedava</span>
    </div>
    <a class="prd-name mb-5 font-weight-bold" href="product-detail.html"> Yeni Sağ Radikalizmin Veçheleri ve Geçmişin İşlenmesi Ne ... </a>
    <a class="prd-author mb-5" href="authors-detail.html">
        <span>Erol Evgin</span>
    </a>
    <div class="prd-media-type">
        <span class="fs-1">İnce Kapak</span>
    </div>
    <a class="prd-publisher font-weight-bold fs-2" href="#yayinevi">
        <span>Theodor W. Adorno</span>
    </a>
    <div class="prd-price-wrapper dr-flex flex-wrap mt-10">
        <div class="prd-first-price fs-2 mr-5 text-c5">
            <s>1935.00 TL</s>
        </div>
        <div class="prd-discount-rate fs-2 text-c1">
            30% İndirim
        </div>
        <div class="prd-price font-weight-bold fs-7">
            1214.00 TL
        </div>
    </div>
    <div class="prd-buttons mt-20">
        @@include('../components/add-cart-btn.html')
    </div>
</div>