<div class="prd">
    <div class="prd-wrapper">
        <div class="product-img">
            <a href="product-detail.html">
                <img class="lazyload" data-src="https://i.dr.com.tr/cache/154x170-0/originals/0001870519001-1.jpg" alt="">
            </a>
        </div>
        <div class="prd-new-icon">
            ÇOK SATAN
        </div>
        <div class="prd-fav">
            <a href="#favorilereEkle">
                <svg class="icon icon-fav-icon"><use xlink:href="#icon-fav-icon"></use></svg>
            </a>
        </div>
    </div>
    <div class="prd-content">
        <a href="#prd-rate" class="d-none prd-rate">
            <svg class="icon icon-star-active"><use xlink:href="#icon-star-active"></use></svg>
            <svg class="icon icon-star-active"><use xlink:href="#icon-star-active"></use></svg>
            <svg class="icon icon-star-half"><use xlink:href="#icon-star-half"></use></svg>
            <svg class="icon icon-star-pasive"><use xlink:href="#icon-star-pasive"></use></svg>
            <svg class="icon icon-star-pasive"><use xlink:href="#icon-star-pasive"></use></svg>
        </a>
        <a class="prd-name" href="#prd-link"> Haysiyet - Tuhaf Zamanlarda Cesurca Yaşamak </a>
        <a class="prd-author" href="#prd-author">
            <span>Ece Üner </span>
        </a>
        <div class="prd-price-wrapper dr-flex-start flex-wrap">
            <div class="prd-discount-rate">
                30%
            </div>
            <div class="prd-prices">
                <div class="prd-first-price">
                    <s>35.00 TL</s>
                </div>
                <div class="prd-price">
                    14.00 TL
                </div>
            </div>
        </div>
        <div class="prd-info-wrapper">
            <div class="prd-media-type">
                <span>İnce Kapak</span>
            </div>
            <a class="prd-publisher" href="#yayinevi">
                Destek Yayınları
            </a>
        </div>
        <div class="prd-info-badge">
            <span> Ücretsiz Kargo </span>
        </div>
        <div class="prd-buttons">
            @@include('../components/add-cart-btn.html')
        </div>
    </div>
</div>