.best-seller{
    margin-top:50px;
    display: flex;
    flex-wrap: wrap;
    counter-reset: my-sec-counter;
    .best-seller-item{
        border:1px solid $color12;
        margin-bottom:5px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding:10px;
        width:100%;
        &::before{
            counter-increment: my-sec-counter;
            content:counter(my-sec-counter);
            border:1px solid $color12;
            width:28px;
            height:28px;
            margin-right:34px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
        }
        &-left{
            width: calc(100% - 310px);
            display: flex;
            align-items: center;
        }
        &-img{
            margin-right:20px;
            img{
                height:108px;
            }            
        }
        &-name{
            font-weight: 700;
            color:$color10;
            margin-bottom:10px;
        }
        &-info{
            margin-bottom:10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a{
                width:49%;
                display: inline-block;
                height:21px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        &-price-wrapper{
            .price-info{
                font-size: 15px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .discount{
                    align-content: center;
                    border-radius: 2px;
                    background: $color2;
                    width:40px;
                    height:40px;
                    flex-wrap: wrap;
                    font-size:$font-size2;
                    margin-right:10px;
                    color:$color255;
                }
                .prices{
                    .oldPrice{
                        text-align: left;
                        font-weight:400;
                        color:$color10;
                        text-decoration: line-through;
                        font-size:13px;
                    }
                    .salePrice{
                        font-weight: 700;
                        font-size:22px;
                        line-height: 33px;
                    }
                }
            }
        }
        &-right{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width:242px;
            span{
                font-size:15px;
                color:$color9;
                font-weight: 700;
            }
        }
        &-status-bar{
            margin-right:20px;
            background: $color11;
            height: 10px;
            border-radius: 100px;
            width:160px;
            position: relative;
            &-line{
                content: '';
                position: absolute;
                left:2px;
                top:50%;
                transform: translateY(-50%);
                height:6px;
                background: $color1;
                border-radius: 100px;
            }
        }
        &-status-icon{
            width:10px;
            height:10px;
            border-radius: 10px;
            margin-left:20px;
            &.bg-statu-standart{
                background: $color1;
            }
            &.bg-statu-success{
                width: 0; 
                height: 0; 
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid green;
            }
            &.bg-statu-alert{
                width: 0; 
                height: 0; 
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid $color2;
            }
        }
    }
}