.authors-list {
    &-header {
        .authors-title {
            span {
                font-size: 48px;
            }
        }
        .authors-search-icon {
            svg {
                position: absolute;
                top: 5px;
                left: 8px;
            }
        }

        .authors-search-button {
            input {border: none;}
            &:before {
                content: "";
                position: absolute;
                left: 0px;
                top: 50%;
                transform: translateY(-50%);
                height: 20px;
                width: 1px;
                background: #4a4a4a;
            }
            position: absolute;
            right: 2px;
            top: 2px;
        }
        .authors-alphabetlist {
            ul {
                display: flex;
                overflow-x: scroll;
            }
            li {
                display: inline-block;
                position: relative;
                letter-spacing: 24px;
                margin-bottom: 10px;
                flex: 0;
                font-size: 30px;
            }

            li.active:after {
                content: "";
                margin-left: -10px;
                margin-top: 5px;
                width: 29px;
                height: 4px;
                background: #084793;
                display: block;
                position: absolute;
            }
        }
    }

    &-body {
        .authors-letter-big {
            width: 58px;
            height: 106px;
            font-size: 80px;
            font-weight: bold;
            color: rgba(28, 62, 76, 0.1);
        }
        .authors-letter-small {
            width: 29px;
            height: 53px;
            font-size: 40px;
            font-weight: bold;
            color: #084793;
            margin-left: -57px;
        }
        .authors-list-name {
            display: flex;
            flex-wrap: wrap;
            li {
                padding: 10px 0;
                width: 50%;
            }
        }
    }

    &-footer {
    }
}


@media (min-width: $breakpoint2) {
    .authors-list {
    &-body {
        .authors-list-name {
            li {
                 width:33%;
                }
            }
        }
    }
}


@media (min-width: $breakpoint3) {
    .authors-list {
        &-header {
            .authors-title {
                span {
                    font-size: 48px;
                }
            }
            .authors-alphabetlist {
                ul {
                    display: block;
                    overflow-x: unset;
                }
                li {
                    display: inline-block;
                    position: relative;
                    letter-spacing: 24px;
                    margin-bottom: 10px;
                    flex: inherit;
                    font-size: 16px;
                }
        }
    }

    &-body {
        .authors-list-name {
            li {
                width: 25%;
                }
            }
        }
    }
}
