.dr-card {
    &-header {
        background-color: #f6f7f9;
        .card-title {
            span {
                font-size: 42px;
            }
        }
    }

    &-body {
        .dr-cards {
            background-color: #f6f7f9;
        }
    }
}

@media (min-width: $breakpoint3) {
    .dr-card {
        &-header {
            min-height: 250px;
            background-color: #f6f7f9;
        }

        &-body {
            .dr-cards {
                min-height: 250px;
                background-color: #f6f7f9;
                align-items: center;
            }
        }
    }
}
