.contact {
    &-header {
        min-height: 300px;
        background-color: #f6f7f9;

        .contact {
            span {
                font-size: 44px;
            }
        }
    }

    &-body {
        .customer-service {
            border: solid 1px #f1f1f1;
            background-color: #fcfcfc;
        }
    }
}

@media (min-width: $breakpoint3) {
    .contact {
        &-header {
            .stores {
                span {
                    font-size: 48px;
                }
            }
        }

        &-body {
        }
    }
}
